
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
}

.item{
    width: 100%;
    height: 100%;

    background-color: #f00;
    color: #fff;
    
    /* align-self: baseline; */
    /* align-content: center; */
}

.item1{
    order: -1;

}